<h3 style="text-align: center;">Quản lý loại sản phẩm</h3>
<button type="button" class="btn btn-success addbutton" data-toggle="modal" data-target="#addProduct">Add new type Book</button>
<div id="addProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Add New Type Product</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="addProduct()">
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="text" class="form-control" id="name"
                    placeholder="Enter name product">
                <div *ngIf="!this.addForm.controls.name.valid &&  this.addForm.controls.name.touched" class="alert alert-danger">Vui lòng nhập vào</div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeButtonAdd class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<app-search style="display: inline-block; margin-left: 35vw;" *ngIf="listTypeBookCurrent.length!=0"  [listBook]="this.listTypeBookCurrent" (listSearched)="search($event)"></app-search>
    
<a style="cursor: pointer" (click)="exportexcel()" style="display: inline-block; margin-left: 2vw;"> 
  <i class="fas fa-file-excel"></i>
</a>

<!-- List product -->
<div class="container">
  <table class="table table-hover table-striped table-bordered" id="excel-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Thao tác</th>
        </tr>
    </thead>

    <tbody *ngFor="let list of listTypeBookCurrent; let i = index">
        <tr>
            <td>{{list.id}}</td>
            <td>{{list.name}}</td>
            <td> 
                <button (click)="delete(list.id)" style="margin-left: 1vw;"><i class="far fa-trash-alt"></i></button> 
                <button data-toggle="modal" data-target="#editProduct" (click)="openForm(list)" style="margin-left: 1vw;"><i class="far fa-edit"></i></button>
                <button (click)="detail(list.id)" class="btn btn-primary btn-sm" style="margin-left: 1vw;">Xem chi tiết</button>
            </td>    
        </tr>
    </tbody>
</table>
</div>




<!-- Edit product -->

<div id="editProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Edit Type Product</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="editProduct()">
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="text" class="form-control" id="name"
                    placeholder="Enter name product">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeButtonEdit class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<app-pagination *ngIf="listProduct.length != 0" [numberProduct]="listProduct.length" (OutCurrentPage)="paging($event)"></app-pagination>