<div class="container" >
    <h1>Tổng quan số lượng</h1>
    <div class="main">
        <div class="row">
            <div class="col-md-6">
              <div class="card-counter primary">
                <i class="fa fa-database"></i>
                <span class="count-numbers1">{{countTB}}</span>
                <span class="count-name1">Loại sản phẩm</span>
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="card-counter danger">
                <i class="fa fa-book"></i>
                <span class="count-numbers1">{{countB}}</span>
                <span class="count-name1">Sản phẩm</span>
              </div>
            </div>
            </div>
        
            <div class="row">
            <div class="col-md-6">
              <div class="card-counter success">
                <i class="fas fa-file-invoice-dollar"></i>
                <span class="count-numbers2">{{countO}}</span>
                <span class="count-name2">Đơn Hàng</span>
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers2">{{countC}}</span>
                <span class="count-name2">Khách Hàng</span>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- <div (mouseleave)="scroll()">
    <div class="count">
        <p id="counter">1</p>
    </div>
    <div class="count" id="count2">
        <p id="counter2">1</p>
    </div>
    <div class="count" id="count3">
        <p id="counter3">1</p>
    </div>
</div> -->


