<div class="banner row">
        <div class="col-sm-2"><p style="padding-left: 2vw; padding-top: 5px;">T-book Store</p></div>
        <div class="col-sm-8"></div>
        <div class="col-sm-2"><p style="padding-top: 5px;">Admin: {{name}}</p></div>
</div>

<div class="row main">
    <div class="col-sm-2 left">
        <p><a [ngClass]="{'active': active == 'overView'}" (click)="changeSelected('overView')"
                routerLink="/admin/tongquan">TỔNG QUAN</a></p>
        <p><a [ngClass]="{'active': active == 'categoryManagement'}"
                (click)="changeSelected('categoryManagement')" routerLink="/admin/typebook">Quản lý loại sản phẩm</a>
        </p>
        <p><a [ngClass]="{'active': active == 'productManagement'}" (click)="changeSelected('productManagement')"
                routerLink="/admin/book">Quản lý sản phẩm</a></p>
        <p><a [ngClass]="{'active': active == 'customerManagement'}" (click)="changeSelected('customerManagement')"
                routerLink="/admin/customer">Quản lý khách hàng</a></p>
        <p><a [ngClass]="{'active': active == 'orderManagement'}" (click)="changeSelected('orderManagement')"
                routerLink="/admin/order">Quản lý đơn hàng</a></p>
        <p><a [ngClass]="{'active': active == 'thongKeManagement'}" (click)="changeSelected('thongKeManagement')"
                routerLink="/admin/thongke">Thống kê</a></p>
        <p><a (click)="logout()">Logout</a></p>
    </div>
    <div class="col-sm-10 right">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
