<div class="sidenav">
  <div class="login-main-text">
     <h2>Application<br> Admin</h2>
     <p>Login from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
      <form [formGroup]="LoginForm" (ngSubmit)="submitLogin()">
        <div *ngIf=alertLogin class=" col-md-9 check alert alert-warning" role="alert">
          <strong>Tài khoản hoặc mật khẩu không đúng!</strong> Please try again!
        </div>
         <div class="form-group">
           <label for="email">UserName Admin:</label>
           <input type="text" formControlName="email" class="form-control" placeholder="Enter email" id="email">
           <div *ngIf="!this.LoginForm.controls.email.valid &&  this.LoginForm.controls.email.touched" class="alert alert-danger">Vui lòng nhập User Name</div>
         </div>
         <div class="form-group">
           <label for="passWord">Password:</label>
           <input type="password" formControlName="passWord" class="form-control" placeholder="Enter password" id="passWord">
           <div *ngIf="!this.LoginForm.controls.passWord.valid &&  this.LoginForm.controls.passWord.touched" class="alert alert-danger">Vui lòng nhập PassWord</div>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
     </form>
     </div>
  </div>
</div>



